.about-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light_shades);
    margin-top: 60px;
    
    height: 100vh;
}

.about-description{
    width: 50%;
    color: var(--light_accent);
    margin-bottom: 25px;
}

.about-title{
    margin: 0;
    margin-top: 50px;
}

.about-logo{
    margin-top: 200px;
}

.about-logo img{
    width: 500px;
    height: auto;
}

.about-page-def{
    display: flex;
    padding: 25px;
    justify-content: center;
    gap: 50px;
}

.about-page-def img{
    width: 300px;
    height: auto;
}

@media only screen and (max-width: 768px){
    .about-title{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about-page-container{
    margin-top: 100px;
    text-align: center;
    }

    .about-page-def img{
        display: none;
    }

    .about-description{
        width: auto;
    }
}